services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins     
    container_name: jenkins
    restart: unless-stopped  
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home        # A perzisztens adat volume
      - /var/run/docker.sock:/var/run/docker.sock # A host docker socket bekötése
    user: jenkins

volumes:
  jenkins_home: