services:
  backend:
    container_name: backend
    image: martinkka8/backend:latest
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@database:27017/${MONGO_DB}?authSource=admin
      - FLASK_DEBUG=0
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app_net

  database:
    container_name: database
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes: 
      - mongo_prod_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh --username ${MONGO_USER} --password ${MONGO_PASS} --authenticationDatabase admin localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_net

  frontend:
    container_name: frontend
    image: martinkka8/frontend:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - INTERNAL_API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app_net

  prometheus:
    image: prom/prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app_net

  node-exporter:
    image: prom/node-exporter
    restart: always
    ports:
      - "9100:9100"
    networks:
      - app_net

  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - app_net

volumes:
  mongo_prod_data:

networks:
  app_net:
    driver: bridge